<div id="callToAction">
  <app-call-to-action></app-call-to-action>
</div>
<div id="servicio">
    <app-servicios></app-servicios>
</div>
<div id="product">
    <app-product-info></app-product-info>
</div>
<div id="prototipo">
    <app-prototipos-landing></app-prototipos-landing>
</div>
<div id="contact">
    <app-contact></app-contact>
</div>

<!-- <div class="container" id="contact">
    <div class="row">
      <div class="col-md-6">
        <app-map></app-map>
      </div>
      <div class="col-md-6">
        <app-contact></app-contact>
      </div>
    </div>
</div> -->