<section class="bg-white py-5 px-3 px-md-5 text-black">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <h2 class="display-4 mb-4 about">Acerca de Nosotros</h2>
                <p class="lead aboutUs">
                    En Dieguital, nos especializamos en crear Landing Pages que no solo cautivan sino que también convierten. Con un enfoque meticuloso en el diseño y la funcionalidad, transformamos tu visión en una realidad digital poderosa.

                    Nuestro equipo de expertos está aquí para escuchar tus necesidades y diseñar una solución que cumpla con tus objetivos comerciales. Cada proyecto es tratado con la misma dedicación y atención al detalle para asegurar resultados excepcionales.
                    
                    Confía en Dieguital para impulsar tu presencia en línea y llevar tu negocio al siguiente nivel con nuestras Landing Pages diseñadas para destacar y generar impacto desde el primer clic.
                    
                    Descubre cómo podemos hacer la diferencia para tu empresa hoy mismo.
                    
                    Dieguital - Donde cada Landing Page cuenta.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="images/aboutUs.jpg" alt="Imagen Acerca de Nosotros" class="img-fluid">
            </div>
        </div>
    </div>
</section>
