<div class="container" id="service">
    <div class="row align-items-center">
      <!-- Imagen -->
      <div class="col-img">
        <div class="img-container">
          <img src="images/ejLanding.jpg" alt="Descripción de la imagen" class="img-fluid rounded">
        </div>
      </div>
      <!-- Información -->
      <div class="col-info">
        <div class="info-content">
          <h1 class="display-4">Página web simple</h1>
          <p class="lead">
            Página web diseñada para convertir visitantes en clientes mediante un mensaje claro y una llamada a la acción específica.
          </p>
          <p>
            Una landing page simple contiene un encabezado atractivo que capta la atención, un subtítulo que proporciona más detalles, y contenido principal que explica claramente la oferta o producto. Incluye una llamada a la acción (CTA) para guiar al usuario hacia la acción deseada, y opcionalmente un formulario para captar información de contacto. También puede tener imágenes o gráficos relevantes y, en algunos casos, testimonios o reseñas para aumentar la confianza.
          </p>
          <!-- <a href="#" class="btn btn-primary">Llamado a la Acción</a> -->
        </div>
      </div>
    </div>
</div>