/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9), rgba(240, 240, 240, 0.9));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid #ff4c4c;
  font-family: 'Georgia', serif;
  transition: background-color 0.3s ease;
}

.navbar-brand {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
  text-shadow: 2px 2px #fff; /* Sombra blanca para resaltar */

}

.navbar-brand:hover {
  color: #ff4c4c;
}

.navbar-toggler {
  display: none; /* Ocultar el botón del toggler por defecto */
}

.navbar-nav .nav-link {
  color: #333;
  font-size: 18px;
  padding: 10px 15px;
  transition: color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
}

.navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #ff4c4c;
  transform: scale(1.05);
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  border-right: 5px solid #ff4c4c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 1001;
  padding-top: 60px;
}

.sidebar.active {
  left: 0;
}

.close-btn {
  font-size: 30px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-btn:hover {
  color: #ff4c4c;
}

.sidebar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-links li {
  margin: 20px 0;
}

.sidebar-links a {
  color: #333;
  text-decoration: none;
  font-size: 22px;
  display: block;
  padding: 15px;
  transition: color 0.3s ease;
  border-radius: 5px;
}

.sidebar-links a.active {
  background-color: #ff4c4c;
  color: #fff;
}

.sidebar-links a:hover {
  color: #fff;
  background-color: #ff4c4c;
}

/* Mostrar el sidebar en pantallas pequeñas */
@media (max-width: 992px) {
  .navbar-collapse {
    display: none; /* Ocultar la navbar collapse en pantallas pequeñas */
  }

  .navbar-toggler {
    display: block; /* Mostrar el botón del toggler en pantallas pequeñas */
  }

  .sidebar {
    display: block; /* Mostrar el sidebar en pantallas pequeñas por defecto */
  }
}

/* Mostrar la navbar collapse en pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .sidebar {
    display: block;
  }

  .sidebar.active {
    left: 0;
  }
}
