<div id="services" class="container-fluid image-info-container inicio">
    <div class="row">
        <!-- Imagen con ancho reducido -->
        <div class="col-md-4 col-lg-3 image-section">
            <img src="images/fondoServicio.jpg" alt="Imagen" class="img-fluid" loading="lazy">
        </div>
        <!-- Sección de texto que ocupa el espacio restante -->
        <div class="col-md-8 col-lg-9 info-section">
            <h1 class="titulo">¡Transforma tu Idea en una Página Impactante! 🚀</h1>
            <p class="titulo2">¿Necesitas captar la atención de tu audiencia de manera rápida y efectiva?</p>
            <p class="info">
                ¡Descubre nuestras Landing Pages personalizadas! Imagina una página única, diseñada para convertir
                visitantes en clientes, con un mensaje claro y un diseño cautivador. Ofrecemos landing pages de alto
                impacto que capturan la esencia de tu negocio y dirigen a tus clientes exactamente a donde los necesitas.
                Desde un diseño atractivo hasta un llamado a la acción irresistible, nos encargamos de todo para que tú solo
                te enfoques en recibir resultados.
                ¡Haz que tu primera impresión sea la más poderosa! Contacta con nosotros hoy y da el siguiente paso hacia el
                éxito.
            </p>
        </div>
    </div>    
</div>
